.title {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}

.title-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/solution.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title-name {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-fone-color);
}

.title-button {
  width: 200px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 31px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-fone-color);
  background-color: var(--link-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
