.title__work,
.title__command,
.title__сlients {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.title__feature,
.title__social,
.title__subscription {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.command__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
